.tb-tree-view2{
    position: absolute;
    left: 50%;
    right: 0;
    bottom: 0;
    top:0;
    display: block;
    margin-top: 100px;
}

.example-items{
    display: block;
    position: absolute;
    width: 300px;
    height: 300px;
}

.tb-node{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 40px;
}

.tb-node_value{
    position: absolute;
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 30px;
    text-align: center;
    font-family: "arial", sans-serif;
    color: white;
}

.tb-node.blue{
    background: blue;
}

.tb-node.green{
    background: green;
}

.tb-node.yellow{
    background: yellow;
}

.tb-node.red{
    background: red;
}
.tb-node.empty{
    background: gray;
}

.tb-tree-view2 .tb-node.blue:after,
.tb-tree-view2 .tb-node.green:after,
.tb-tree-view2 .tb-node.yellow:after,
.tb-tree-view2 .tb-node.red:after{
    content: '';
    display: block;
    width: 0;
    height: 20px;
    border-right: 1px solid #000000;
    position: absolute;
    left: 50%;
    top: 100%;
}

.connection-line{
    border-top:1px solid #000;
    border-left:1px solid #000;
    border-right:1px solid #000;
    bottom: 100%;
    position: absolute;
    margin: 0 0 0 20px;
    pointer-events:none;
}
.in-drag .connection-line,
.in-drag.tb-node.blue:after,
.in-drag.tb-node.green:after,
.in-drag.tb-node.yellow:after,
.in-drag.tb-node.red:after{
    display: none;
}