.tb-tree-view{
    position: absolute;
    left: 50%;
    right: 0;
    bottom: 0;
    top:0;
    display: block;
    margin-top: 100px;
}

.tb-tree-view_node{
    display: block;
    font-size: 11px;
    text-align: left;
    position: absolute;
    width: 180px;
    height: 80px;
    border: solid 1px #cccccc;
    top:100px;
    -webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;
    background: #ffffff;
}
.tb-tree-view_node:hover{
    z-index: 100;
}

.tb-tree-view_node.expanded.has_childs:after{
    position: absolute;
    content: "";
    display: block;
    width: 0px;
    height: 10px;
    border-right: solid 1px #000;
    left:50%;
    bottom: -10px;
}

.node-root{
    margin-left: -100px;
}

.has_childs{
    border: double 4px #444444 ;
}
.many-child{
    border: 4px #333;
    border-style: double;
    box-shadow: 2px 2px #333;
    top:120px;
}


.many-child_count{
    line-height: 80px;
    font-size: 19px;
    text-align: center;
    display: block;
    width: 180px;
    height: 80px;
}

.node-layer{
    position: relative;
    margin-left: -4px;
}

.connection-line{
    position: absolute;
    border-left: solid 1px #000000;   
    border-right: solid 1px #000000;   
    border-top: solid 1px #000000;   
    pointer-events: none;
}

.many-child .connection-line{
    height: 30px;
    width: 0px;
    border-right-style:none ;
    border-left: 1px solid #000000;
    left:50%;
    top: -34px;
}

.node-block_title{
    position: absolute;
}
.node-block_description{
    position: absolute;
    top: 20px;
}